<head>
	<link rel="stylesheet" href="../css/style.css">
</head>

<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making the Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
	<section class="info">
		<header>
			<h2>Peter Lonestar</h2>
			<h3>Founder</h3>
		</header>
		<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
	</section>

	<section class="info">
		<header>
			<h2>Bill Billerson</h2>
			<h3>CFO</h3>
		</header>
		<p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum.</p>
	</section>

	<section class="info">
		<header>
			<h2>You!</h2>
			<h3>CTO</h3>
		</header>
		<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac.</p>
	</section>
</div>

<footer>
	Contact us: <span>admin@tweetful.io</span>
</footer>